<div id="navbar" class="container">
    <ul id="navlist">
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
      <li>@Html.ActionLink("Drinks", "Index", "Drinks")</li>
      <li>@Html.ActionLink("Coffee Shops", "Index", "CoffeeShops")</li>
      <li>@Html.ActionLink("Reviews", "Index", "CoffeeShopDrinks")</li>
    </ul>
  </div>