@* <!-- @{
  Layout = "_Layout";
}


@model KeithsCoffee.Models 

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)
  @Html.Label("Select student")
  @Html.DropDownList("StudentId")
  <input type="submit" value="save" />
}

<div class="container">
  <h5>@Html.ActionLink("Back to courses", "Index")</h5>
</div>  --> *@