@{
  Layout = "_Layout";
}

<img src="~/img/cubbs.jpg" alt="a photo of our caffiene fueled savior wearing some rad hats"/> 
<h1>Keith's Coffee Corner</h1>
<hr/>


<h5>@Html.ActionLink("View Coffee Shops", "Index", "CoffeeShops")</h5>
<h5>@Html.ActionLink("View Drinks", "Index", "Drinks")</h5>