@{
  Layout = "_Layout";
}

@model KeithsCoffee.Models.Drink;

<h1>Remove Drink</h1>

<hr/>

<div class="container">
  <h2>Are you sure you want to delete this drink?</h2>
  <br/>
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
</div>

<br/>

<div class="remove container">
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}
</div>

<br/>

<div class="container">
  <h5>@Html.ActionLink("Back to Drink", "Details", new { id = Model.DrinkId })</h5>
</div>